body {
    background: linear-gradient(to right, #FFFFFF, #35A7FF);
    background-image: url(../public/imgs/backgrounds/background_login&cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#container-cadastro{
    padding: 50px 0;
}

#container-cadastro .card{
    border-radius: 24px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container-cadastro .container{
    border-radius: 12px;
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}


form input::placeholder{
    color: #ddb6b6 !important;
    opacity: 1 ;
}

#tem-conta  {
    text-align: center;
    margin-top: 16px;
}

#tem-conta a{
    color: #35A7FF;
    text-decoration: none;
}

#tem-conta:hover a {
    color: #6BF178;
    text-decoration: underline;

}


form h2 {
    margin-bottom: 24px;
    color: var(--cor-preto);
    font-weight: 700;
    font-size: 2rem;    
    text-align: center;
    text-shadow: #dd0000;
}
#tem-conta a:active {
    color: #FF5733;
}

.form-control {
    transition: all .2s ease-in-out;
    border: 1px solid #ccc;
}

.form-control:hover {
    border-color: #35A7FF;
    box-shadow: 0 0 6px rgba(53, 167, 255, 0.4);
}

.input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.input-wrap input {
    padding: 12px 10px;
    border-radius: 8px;
}

/* Label flutuante */
.input-wrap label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #8b8b8b;
    font-size: 0.95rem;
    pointer-events: none;
    transition: all .20s ease-in-out;
    background: transparent;
    padding: 0 6px;
}

/* Estilos de Validação */

.col-md-6 .error-message {
    display: none;
    color: #e74c3c;
    /* Vermelho */
    font-size: 0.875em;
    margin-top: 5px;
}

.col-md-6.error .form-control {
    border-color: #e74c3c;
}

.col-md-6.error .error-message {
    display: block;
}


.col-md-6.success .form-control {
    border-color: #2ecc71;
}