* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 black;
    max-width: 1200px;
    width: 100%;
}

#titulo {
    padding: 30px 0;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.entrada-campo {
    resize: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#ok-button {
    background-color: #6BF178;
}

#cancel-button {
    background-color: #FF5964;
}

.texto-campo {
    font-size: 25px;
    margin-bottom: 8px;
}

.entrada-campo {
    padding: 12px;
    width: 100%;
}

.entrada-campo,
.button {
    border: 2px solid gray;
    border-radius: 12px;
}

.button {
    margin: 7px 0;
    padding: 20px;
    width: 50%;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10%
}


@media (min-width: 600px) {
    .form-cadastro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .button-group {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;

    }

    .button {
        margin: 0 20px;
        width: 100%;
        padding: 12px 0;
    }
}