/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes vibrar {
    0%{
        left: 50%;
        transform: translateX(-50%);
    }
    25%{
        left: 50.2%;
        transform: translateX(-50.2%);
    }
    50%{
        left: 50%;
        transform: translateX(-50%);
    }
    75%{
        left: 49.8%;
        transform: translateX(-49.8%);
    }
    100%{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Estilização de CSS geral */
:root {
    --cor-amarelo: #FFE74C;
    --cor-amarelo-50: #e2cd41;
    --cor-vermelho: #FF5964;
    --cor-vermelho-50: #ca3640;
    --cor-branco: #FFFFFF;
    --cor-cinza-50: #b0babb;
    --cor-preto: #000000;
    --cor-verde: #6BF178;
    --cor-azul: #35A7FF;
    --cor-bg: #F5F5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--cor-bg);
    overflow-y: auto !important;
}

h1 {
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

a {
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.borda {
    display: flex;
    height: 1px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.verde {
    color: var(--cor-verde);
    background-color: var(--cor-verde);
}

.azul {
    color: var(--cor-azul);
    background-color: var(--cor-azul);
}

.amarelo {
    color: var(--cor-amarelo);
    background-color: var(--cor-amarelo);
}

.branco {
    color: white;
    background-color: white;
}

#alert{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max-content;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    animation: vibrar 0.3s linear 3;
}

.nome-usuario{
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    right: 0;
    bottom: 90px;
}

/* Estilização do header */

#header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-branco);
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
}

#news {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
}

.btn-red {
    display: flex;
    text-align: center;
    background-color: var(--cor-vermelho);
    padding: 5px 30px;
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
}

.btn-red:hover {
    background-color: var(--cor-vermelho-50);
}

.topo {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}


.box {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 50px;
    width: 100%;
    gap: 20px;
}

.box:first-child {
    justify-content: start;
    align-items: end;
}

.box:last-child {
    justify-content: end;
    align-items: start;
}

.box>form {
    position: relative;
}

.box>form>input[type="search"] {
    display: flex;
    text-align: center;
    background-color: var(--cor-amarelo);
    padding: 5px 30px;
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 20px;
    border: none;
    position: relative;
    border: none;
    outline: none;
}

.box>form>input[type="search"]::placeholder {
    color: var(--cor-branco);
}

.box>form>input[type="search"]:hover {
    background-color: var(--cor-amarelo-50);
}

.box>form>label {
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 10px;
    height: 100%;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-amarelo);
    cursor: text;
}

.box>form>label>img {
    display: flex;
    width: 100%;
    object-fit: contain;
}



.logo {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.logo img {
    display: flex;
    width: 100%;
    object-fit: cover;
}


/*
Tudo abaixo foi pesquisado, não tinha como eu saber.
basicamente ele tira todos aqueles efeitos de link do a.
*/

#logo-header:link,
#logo-header:visited,
#logo-header:hover,
#logo-header:active {
    color: black;
    /* Define a cor para todos os estados */
    text-decoration: none;
    /* Remove o sublinhado em todos os estados */
}

/* Opcional: Você pode querer um efeito visual quando o usuário interagir com o link */
#logo-header:hover {
    /* text-decoration: underline; */
    /* Adiciona sublinhado apenas ao passar o mouse */
    color: #555;
    /* Muda ligeiramente a cor ao passar o mouse */
}

#logo-header:focus {
    /* Garante acessibilidade, mantendo um contorno visual ao focar com o teclado */
    outline: 1px solid #000;
}

.box .item button {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 50px;
    display: flex;
    background-color: transparent;
    position: relative;
    border: none;
    outline: none;
}

#valor-carrinho {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.box .item img {
    display: flex;
    width: 100%;
    object-fit: contain;
    filter: invert(10%) sepia(90%) saturate(5741%) hue-rotate(356deg) brightness(101%) contrast(107%);
}




/* Estilização do menu navegacao */
#menu {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .btnClose {
    display: none;
    padding: 10px !important;

}

#menu .areaLista {
    display: flex;
    width: 100%;
    justify-content: center;
}

#menu ul {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background-color: var(--cor-verde);
}

#menu ul li {
    list-style: none;
    text-transform: uppercase;
}

#menu ul li a {
    /* border: 1px solid red; */
    text-decoration: none;
    font-weight: 400;
    color: var(--cor-branco);
    padding: 5px 20px;
    position: relative;
    font-weight: 600;
    border-bottom: 0;
    position: relative;
}

#menu ul li a::before {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    transition: 1s all;
}

#menu ul li a:hover::before {
    width: 100%;
    transition: 1s all;
}


/* Estilização do banner */
#Carousel {
    margin: 30px auto;
    padding: 0;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
}

#banner {
    width: 100%;
}

#banner img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


/* Estilização da area de produtos1 */

.sem-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sem-produtos h2{
    text-align:center;
}

#area-produtos {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 10px;
    background-color: var(--cor-branco);
    /* max-width: 1500px;
    margin: 0 auto; */
}

.tela-produtos {
    /* border: 1px solid blue; */
    position: relative;
    width: 100%;
    max-width: 1433px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 50px;
}

.btn-next,
.btn-prev {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    color: var(--cor-cinza-50);
    top: 50%;
    transform: translateY(-100%);
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
}

.btn-next:hover,
.btn-prev:hover {
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

.btn-next {
    right: 0;
}

.produtos {
    /* border: 1px solid green; */
    width: min-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    z-index: 1;

}

.box-card {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 20rem;
    min-width: 20rem;
}

.card-body a {
    margin: 0 auto !important;
}

.area-btn{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.area-btn button{
    display: flex;
    width: 100%;
    max-width: max-content;
    font-size: 14px;
}


/* Estilização do footer */

.footer {
    width: 100%;
    background-color: var(--cor-azul);
    padding: 20px 0;
    text-align: center;
    color: var(--cor-branco);
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.footer a {
    color: var(--cor-preto);
    font-weight: 500;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--cor-branco);
}


/* ESTILIZAÇÃO PRA VERSÃO TABLET/MOBILE */

@media screen and (max-width: 1500px) {
    .tela-produtos {
        max-width: 1063px;
    }
}

@media screen and (max-width: 1100px) {
    .topo {
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 50px 20px;
        align-items: center;
        gap: 40px;
    }

    .tela-produtos {
        max-width: 693px;
    }
}

@media screen and (max-width: 720px) {
    #banner img {
        max-height: 280px;
        border-radius: 0;
    }

    .carousel-indicators {
        bottom: 10px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 25px;
        height: 25px;
    }

    .tela-produtos {
        max-width: 323px;
    }
}

@media screen and (max-width: 600px) {
    #menu {
        /* border: 1px solid red; */
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 0;
        max-width: min-content;
        height: 100%;
        justify-content: start;
        align-items: start;
        z-index: 5;
        background-color: var(--cor-verde);
    }

    #menu ul {
        flex-direction: column;
        overflow-x: hidden;
    }

    #menu .btnClose {
        display: flex;
        position: absolute;
        top: 50%;
        right: -30px;
        background-color: var(--cor-verde);
        opacity: 1;
        border: none !important;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        /* z-index: 1; */
    }

    .produtos {
        /* gap: 5; */
    }

    /* .topo{
            z-index: 5;
            
        } */
    /* .topo img{
            filter: invert(10%) sepia(90%) saturate(2000%) hue-rotate(700deg) brightness(100%) contrast(107%);
        } */
}

/* FIM, ESTILIZAÇÃO PRA VERSÃO TABLET/MOBILE */