a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: large;
    text-decoration: none;
    font-size: 10rem;
    font-family: 'Times New Roman', Times, serif;
}