body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor-azul);
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    text-decoration: none;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor-azul);
}